<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>David Lybeck</title>
  <link rel="stylesheet" href="/template/template.css">
  <link rel="stylesheet" href="/template/TemplateMenu.css">
  <link rel="stylesheet" href="/template/TemplateHamburger.css"/>
  <link rel="stylesheet" href="/styles/transitions.css"/>
  <style>
    body, .transition-page{
      background-position: 4000px 0px;
    }
  </style>
</head> 
<body>

  <div class="transition transition-page is-active"></div>

  <div class="page">
    <header>
      <h1 href='/home.html' x="0" y="0" link="true">David Lybeck</h1>
    </header>
    <div class="container"> 
      <div class="menu-container">
        <input type="checkbox" class="menu-toggle" id="checkbox">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div> 
        <div id="home">
          <img id="home" class="homeIcon" src="/img/Home60.png"  href='/home.html' x="0" y="0" link="true">
        </div>
        <nav class="menu">
          <!--<div class="Img" id="Img2">
            <img src="/img/Arrows/LTopLeft.png" href='/home.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>-->
          <div class="Img" id="Img4">
            <img src="/img/Arrows/LTopRight.png" href='/views/hobbies/hobbies.html' x="2000" y="2000" link="true"/>
            <p>Hobbies</p>
          </div>
          <!--<div class="Img" id="Img6">
            <img src="/img/Arrows/LBottomRight.png" href='/home.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>-->
          <!--<div class="Img" id="Img8">
            <img src="/img/Arrows/LBottomLeft.png" href='/home.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>-->
        </nav>
        <div id="canvasWrap" >
          <canvas id="canvas" height="400" width="400"></canvas>
        </div>
      </div>
      <h2 id="location">Tennis</h2>
      <p>I've been playing tennis for as long as I can remember, and playing competitively since around middle school. Since I've been playing for so long, it's become a way for me to just get my mind off of things and take a break from everything else I do. Over the years I've gotten better and played all four years on my high school's varsity team, and soon I will be starting my third year on the University of Puget Sound Team. </p>

      <img src="\img\Tennis\spin.JPG" height="350px" width="auto">
      <img src="\img\Tennis\Forehand.png" height="350px" width="auto">

      <br>
      <br>

      <p>Although these aren't too reliable or important, I thought I might as well include these rankings:
        <br>
        <a class="link" href="https://app.universaltennis.com/profiles/202815">Universal Tennis Rating</a>
        <br>
        <a class="link" href="https://worldtennisnumber.com/eng/player-profile?id=60a4ed89bf0fe5a69879dcdf">World Tennis Number</a>
      </p>
      

      <button onclick="toTop()" id="topBtn" title="Go to top">Top</button>
    </div>
  </div>
  <div id="warning-message-box">
    <h1 id="warning-message">This website is intended for a bigger screen. Please view in landscape mode</h1>
  </div> 
  <script src="/scripts/transitions.js" type="text/javascript"></script>
  <script src="/scripts/backToTop.js" type="text/javascript"></script>
</body>
</html>