<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>David Lybeck</title>
  <link rel="stylesheet" href="../../template/template.css">
  <link rel="stylesheet" href="../../template//TemplateMenu.css">
  <link rel="stylesheet" href="../../template/TemplateHamburger.css"/>
  <link rel="stylesheet" href="../../styles/transitions.css"/>
  <link rel="stylesheet" href="../../styles/3Dprints/3dModels.css"/>

  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
  <style>
    body, .transition-page{
      background-position: 4000px 4000px;
    }
  </style>
</head> 
<body>

  <div class="transition transition-page is-active"></div>

  <div class="page">
    <header>
      <h1 href='../../index.html' x="0" y="0" link="true">David Lybeck</h1>
    </header>
    <div class="container"> 
      <div class="menu-container">
        <input type="checkbox" class="menu-toggle" id="checkbox">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div> 
        <nav class="menu">
          <div class="Img" id="Img0">
            <img src="../../img/Arrows/SHouse.png" href='../../index.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>
          <div class="Img" id="Img6">
            <img src="../../img/Arrows/LBottomRight.png" href='./3dPrints.html' x="2000" y="2000" link="true"/>
            <p>3D Prints</p>
          </div>
        </nav>
      </div>
        <h2>Puzzles</h2>
        <p>Here are some of the puzzles I've designed</p>

        <div class="models">
          <h3>My first puzzle box: </h3>
          <a href="https://www.printables.com/model/40017-puzzle-box-easy-to-print-hard-to-solve" target="_blank">Printables</a>
          <a href="https://www.thingiverse.com/thing:4583356" target="_blank">Thingiverse</a>
          <a href="https://www.myminifactory.com/object/3d-print-puzzle-box-easy-to-print-hard-to-solve-v1-132913" target="_blank">My Mini Factory</a>
          <a href="https://cults3d.com/en/3d-model/game/puzzle-box-easy-print-hard-solution-version-1" target="_blank">Cults</a>
          <model-viewer id="main-puzzle" shadow-intensity="1" src="/3dmodels/FirstPuzzle/FirstPuzzle.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>
          <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/3dmodels/FirstPuzzle/FirstPuzzle_Open.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>

          <h3>The couch puzzle box:</h3>
          <a href="https://www.printables.com/model/42742-couch-puzzle-box-moved-to-my-mini-factory-only-no-" target="_blank">Printables</a>
          <a href="https://www.thingiverse.com/thing:4628711" target="_blank">Thingiverse</a>
          <a href="https://cults3d.com/en/3d-model/game/couch-puzzle-box-sequential-puzzle-box" target="_blank">Cults</a>
          <model-viewer id="main-puzzle" shadow-intensity="1" src="/3dmodels/CouchPuzzle/CouchPuzzle.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>
          <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/3dmodels/CouchPuzzle/CouchPuzzle_Open.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>

          <h3>Simple block puzzle:</h3>
          <a href="https://www.printables.com/model/105727-simple-block-puzzle" target="_blank">Printables</a>
          <a href="https://www.thingiverse.com/thing:5174606" target="_blank">Thingiverse</a>
          <a href="https://www.myminifactory.com/object/3d-print-simple-block-puzzle-201450" target="_blank">My Mini Factory</a>
          <a href="https://cults3d.com/en/3d-model/game/simple-block-puzzle" target="_blank">Cults</a>
          <model-viewer id="main-puzzle" shadow-intensity="1" src="/3dmodels/BlockPuzzle/BlockPuzzle.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>
          <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/3dmodels/BlockPuzzle/BlockPuzzle_Solved.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>

          <h3>The gift puzzle box:</h3>
          <a href="https://www.printables.com/model/325862-gift-puzzle-a-multi-step-puzzle-box" target="_blank">Printables</a>
          <a href="https://cults3d.com/en/3d-model/game/gift-puzzle-a-multi-step-puzzle-box" target="_blank">Cults</a>
          <model-viewer id="main-puzzle" shadow-intensity="1" src="/3dmodels/GiftPuzzzle/GiftPuzzle.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>
          <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/3dmodels/GiftPuzzzle/GiftPuzzle_Open.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>

          <h3>The Sliding puzzle box:</h3>
          <model-viewer id="main-puzzle" shadow-intensity="1" src="/3dmodels/SlidingPuzzle/SlidingPuzzle.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>
          <model-viewer id="main-puzzle-open" shadow-intensity="1" src="/3dmodels/SlidingPuzzle/SlidingPuzzle_Open.glb"
          alt="A 3D model" auto-rotate camera-controls
          poster="../../img/3DModelIcon.png"></model-viewer>
        </div>
      </div>
    </div>
  </div>
  <div id="warning-message-box">
    <h1 id="warning-message">Please view in landscape mode</h1>
  </div> 
  <script src="../../scripts/transitions.js" type="text/javascript"></script>
</body>
</html>