<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>David Lybeck</title>
  <link rel="stylesheet" href="/template/template.css">
  <link rel="stylesheet" href="/template/TemplateMenu.css">
  <link rel="stylesheet" href="/template/TemplateHamburger.css"/>
  <link rel="stylesheet" href="/styles/transitions.css"/>
  <style>
    body, .transition-page{
      background-position: -4000px 0px;
    }
  </style>
</head> 
<body>

  <div class="transition transition-page is-active"></div>

  <div class="page">
    <header>
      <h1 href='/home.html' x="0" y="0" link="true">David Lybeck</h1>
    </header>
    <div class="container"> 
      <div class="menu-container">
        <input type="checkbox" class="menu-toggle" id="checkbox">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div> 
        <div id="home">
          <img id="home" class="homeIcon" src="/img/Home60.png"  href='/home.html' x="0" y="0" link="true">
        </div>
        <nav class="menu">
          <div class="Img" id="Img2">
            <img src="/img/Arrows/LTopLeft.png" href='\views\projects\projects.html' x="-2000" y="2000" link="true"/>
            <p>Projects</p>
          </div>
          <!--<div class="Img" id="Img4">
            <img src="/img/Arrows/LTopRight.png" href='/home.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>-->
          <!--<div class="Img" id="Img6">
            <img src="/img/Arrows/LBottomRight.png" href='/home.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>-->
          <!--<div class="Img" id="Img8">
            <img src="/img/Arrows/LBottomLeft.png" href='/home.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>-->
        </nav>
        <div id="canvasWrap" >
          <canvas id="canvas" height="400" width="400"></canvas>
        </div>
      </div>
      <h2 id="location">Programs</h2>
      <p>Here are some computer programs I've made sorted by language. </p>

      <h3><b>Java</b></h3>
      <p>
        Java is the language I mainly use throughout my Computer Science courses. Here are some Java programs I've written during my first 2-3 years at UPS. (More will be added as they're completed)
        <br>
        <br>
        <a class="link" href="/views/projects/Programs/Java/BitwiseHash.zip">(2021)Bitwise to Hash</a><br>
        <a class="link" href="/views/projects/Programs/Java/BubbleSort.zip">(2021) Bubble Sort</a><br>
        <a class="link" href="/views/projects/Programs/Java/HeapSort.zip">(2022) Heap Sort</a><br>
        <a class="link" href="/views/projects/Programs/Java/InsertionSort.zip"> (2022) Insertion Sort</a><br>
        <a class="link" href="/views/projects/Programs/Java/QuickSort.zip">(2022) Quick Sort</a><br>
        <a class="link" href="/views/projects/Programs/Java/SelectionSort.zip">(2022) Selection Sort</a><br>
        <a class="link" href="/views/projects/Programs/Java/Digraph+TopologicalSort.zip">(2023) Digraph and Topological Sort for Strings</a><br>
        <a class="link" href="/views/projects/Programs/Java/RedBlackTree.java">(2023) Red Black Tree Binary Search</a><br>
      </p>

      <h3><b>Haskell</b></h3>
      <p>
        The other language I learned in my paradigms class was haskell. This project was the final project for haskell. This program is a game called "Evil Hangman". It is essentially the normal hangman game, but the program changes the word as you play to make the game take as long as possible. The full version of this file is too large to run online and can be downloaded <a>here</a>.
        More details about the project can be seen here:
        <br>
        <iframe src="/views/projects/Programs/Assignments/Evilhangman.html"></iframe>
        
        <br>
        <a class="link" href="/views/projects/Programs/Haskell/EvilHangman.hs">Evil Hangman File</a><br>
        <a class="link" href="http://tpcg.io/29H42X">Run Evil Hangman Demo</a><br>
      </p>

      <h3><b>Prolog</b></h3>
      <p>
        In my computer paradigms class we learned two languages, prolog was one of them. This is my final project for prolog. It's a program that is meant to mimic the pool testing they do for covid. Using a list of what subjects are in which pools, and which pools are positive it figures out which individual subjects tested positive.
        More details about the project can be seen here:
        <br>
        <iframe src="/views/projects/Programs/Assignments/CovidTest.html"></iframe>
        
        <br>
        <iframe class="code" src="https://swish.swi-prolog.org/p/Covid-Test.pl"></iframe>
      </p>

      <button onclick="toTop()" id="topBtn" title="Go to top">Top</button>
    </div>
  </div>
  <div id="warning-message-box">
    <h1 id="warning-message">This website is intended for a bigger screen. Please view in landscape mode</h1>
  </div> 
  <script src="/scripts/transitions.js" type="text/javascript"></script>
  <script src="/scripts/backToTop.js" type="text/javascript"></script>
</body>
</html>