<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>David's Website</title>
  <link rel="stylesheet" href="./template.css">
  <link rel="stylesheet" href="./TemplateMenu.css">
  <link rel="stylesheet" href="./TemplateHamburger.css"/>
  <link rel="stylesheet" href="../styles/transitions.css"/>
  <style>
    body{
      background-position: -2000px 2000px;
    }
  </style>
</head> 
<body>

  <div class="transition transition-page is-active"></div>

  <div class="page">
    <header>
      <h1>David's Website</h1>
    </header>
    <div class="container"> 
      <div class="menu-container">
        <input type="checkbox" class="menu-toggle" id="checkbox">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div> 
        <nav class="menu">
          <div class="Img" id="Img0">
            <img src="../img/Arrows/SHouse.png" href='/index.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>
          <div class="Img" id="Img1">
            <img src="../img/Arrows/LLeft.png"/>
            <p>Nothing :(</p>
          </div>
          <div class="Img" id="Img2">
            <img src="../img/Arrows/LTopLeft.png"/>
            <p>Nothing :(</p>
          </div>
          <div class="Img" id="Img3">
            <img src="../img/Arrows/LTop.png"/>
            <p>Nothing :(</p>
          </div>
          <div class="Img" id="Img4">
            <img src="../img/Arrows/LTopRight.png"/>
            <p>Nothing :(</p>
          </div>
          <div class="Img" id="Img5">
            <img src="../img/Arrows/LRight.png"/>
            <p>Nothing :(</p>
          </div>
          <div class="Img" id="Img6">
            <img src="../img/Arrows/LBottomRight.png"/>
            <p>Nothing :(</p>
          </div>
          <div class="Img" id="Img7">
            <img src="../img/Arrows/LBottom.png"/>
            <p>Nothing :(</p>
          </div>
          <div class="Img" id="Img8">
            <img src="../img/Arrows/LBottomLeft.png" href='../index.html' x="0" y="0" link="true"/>
            <p>Home</p>
          </div>
        </nav>
      </div>
        <h2>Template Page</h2>
        <p>Has some things</p>
    </div>
  </div>
  <script src="../scripts/transitions.js" type="text/javascript"></script>
</body>
</html>