#canvasWrap, .menu{
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    height: 0;
  }

  .menu{
    z-index: 10;
  }
  
  .menu-container{
    position: relative;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
  }

  .menu-toggle:checked  ~ #canvasWrap{
    transition: 0.5s ease-in-out;
    opacity: 1;
    top: -490px
  }

  .menu-toggle:checked:not(#canvasWrap)  ~ .menu{
    padding: 175px;
    height: 225px;
    opacity: 1;
    transition: 0.5s ease-in-out;
    z-index: 0;
  }
  
  .Img{
    display: block;
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transition: 0.0s ease-in-out;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    z-index: 10;
  }

  .Img img{
    transition: ease-in-out 0.25s;
  }
  .Img img:hover{
    transform: scale(1.25);
  }

  .Img p{
    color:black;
    position: absolute;
    white-space: nowrap;
    bottom: -75px;
    left: 0;
    display: none;
    transform: translate(-50%, 40%);
  }

  .menu-toggle:checked ~ .menu .Img p{
    display: block;
  }

  .menu-toggle:checked ~ .menu #Img1{
    transform: translate(-50%, -50%) rotate(0deg) translateX(-350px);
  }
  .menu-toggle:checked ~ .menu #Img2{
    transform: translate(-50%, -50%) rotate(45deg) translateX(-350px) rotate(-45deg);
  }
  .menu-toggle:checked ~ .menu #Img3{
    transform: translate(-50%, -50%) rotate(90deg) translateX(-350px) rotate(-90deg);
  }
  .menu-toggle:checked ~ .menu #Img4{
    transform: translate(-50%, -50%) rotate(135deg) translateX(-350px) rotate(-135deg);
  }
  .menu-toggle:checked ~ .menu #Img5{
    transform: translate(-50%, -50%) rotate(180deg) translateX(-350px) rotate(-180deg);
  }
  .menu-toggle:checked ~ .menu #Img6{
    transform: translate(-50%, -50%) rotate(225deg) translateX(-350px) rotate(-225deg);
  }
  .menu-toggle:checked ~ .menu #Img7{
    transform: translate(-50%, -50%) rotate(270deg) translateX(-350px) rotate(-270deg);
  }
  .menu-toggle:checked ~ .menu #Img8{
    transform: translate(-50%, -50%) rotate(315deg) translateX(-350px) rotate(-315deg);
  }