.transition-Home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-image: url("../img/PaperBackground.jpg");
    background-position: 0px 0px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}
.transition-Home.is-active {
    opacity: 1;
    pointer-events: all;
}

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-image: url("../img/PaperBackground.jpg");
    background-position: -2000px -2000px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}
.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}

.transition-2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-image: url("../img/PaperBackground.jpg");
    background-position: 2000px 2000px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}
.transition-2.is-active {
    opacity: 1;
    pointer-events: all;
}
